In [1]:
import numpy as np
from numpy import mean
from numpy import std
from numpy import absolute

import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline 
import seaborn as sns

import cpi
cpi.update()
from sklearn.model_selection import train_test_split

ModuleNotFoundError: No module named 'cpi'

In [146]:
train=pd.read_csv('Data/train.csv')

In [147]:
train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [148]:
df=train[['LotArea','BldgType','HouseStyle','YearBuilt','FullBath','HalfBath','BedroomAbvGr','YrSold','SalePrice']].copy()
df.head()

,LotArea,BldgType,HouseStyle,YearBuilt,FullBath,HalfBath,BedroomAbvGr,YrSold,SalePrice
0,8450,1Fam,2Story,2003,2,1,3,2008,208500
1,9600,1Fam,1Story,1976,2,0,3,2007,181500
2,11250,1Fam,2Story,2001,2,1,3,2008,223500
3,9550,1Fam,2Story,1915,1,0,3,2006,140000
4,14260,1Fam,2Story,2000,2,1,4,2008,250000

In [149]:
# use CPI to convert data
df['ADJUSTED_SalesPrice'] = df.apply(lambda x: cpi.inflate(x.SalePrice, x.YrSold), axis=1)
df.head

<bound method NDFrame.head of       LotArea BldgType HouseStyle  YearBuilt  FullBath  HalfBath  \
0        8450     1Fam     2Story       2003         2         1
1        9600     1Fam     1Story       1976         2         0
2       11250     1Fam     2Story       2001         2         1
3        9550     1Fam     2Story       1915         1         0
4       14260     1Fam     2Story       2000         2         1
...       ...      ...        ...        ...       ...       ...
1455     7917     1Fam     2Story       1999         2         1
1456    13175     1Fam     1Story       1978         2         0
1457     9042     1Fam     2Story       1941         2         0
1458     9717     1Fam     1Story       1950         1         0
1459     9937     1Fam     1Story       1965         1         1

      BedroomAbvGr  YrSold  SalePrice  ADJUSTED_SalesPrice
0                3    2008     208500        243172.689187
1                3    2007     181500        219810.364036
2                3    2008     223500        260667.127258
3                3    2006     140000        174379.861111
4                4    2008     250000        291573.967850
...            ...     ...        ...                  ...
1455             3    2007     175000        211938.367528
1456             3    2010     210000        241829.942767
1457             4    2010     266500        306893.713083
1458             2    2010     142125        163667.050551
1459             3    2008     147500        172028.641031

[1460 rows x 10 columns]>

In [150]:
df.shape

(1460, 10)

In [151]:
# removing outlier
df = df[df.LotArea <= 50000].copy()

In [152]:
df.shape

(1449, 10)

In [153]:
df.columns

Index(['LotArea', 'BldgType', 'HouseStyle', 'YearBuilt', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'YrSold', 'SalePrice',
       'ADJUSTED_SalesPrice'],
      dtype='object')

In [154]:
# split X and Y
X=df[['LotArea','BldgType','HouseStyle','YearBuilt','FullBath','HalfBath','BedroomAbvGr']].copy() # independent variables
Y = df['ADJUSTED_SalesPrice'].copy() # dependent variable

In [155]:
one_hot_df = pd.get_dummies(X[['BldgType','HouseStyle']]) #
X = X.drop(['BldgType','HouseStyle'], axis=1) # Drop column as it is now encoded
X = X.join(one_hot_df) # Join the encoded df
print(X.columns)
X.tail()

Index(['LotArea', 'YearBuilt', 'FullBath', 'HalfBath', 'BedroomAbvGr',
       'BldgType_1Fam', 'BldgType_2fmCon', 'BldgType_Duplex', 'BldgType_Twnhs',
       'BldgType_TwnhsE', 'HouseStyle_1.5Fin', 'HouseStyle_1.5Unf',
       'HouseStyle_1Story', 'HouseStyle_2.5Fin', 'HouseStyle_2.5Unf',
       'HouseStyle_2Story', 'HouseStyle_SFoyer', 'HouseStyle_SLvl'],
      dtype='object')

,LotArea,YearBuilt,FullBath,HalfBath,BedroomAbvGr,BldgType_1Fam,BldgType_2fmCon,BldgType_Duplex,BldgType_Twnhs,BldgType_TwnhsE,HouseStyle_1.5Fin,HouseStyle_1.5Unf,HouseStyle_1Story,HouseStyle_2.5Fin,HouseStyle_2.5Unf,HouseStyle_2Story,HouseStyle_SFoyer,HouseStyle_SLvl
1455,7917,1999,2,1,3,1,0,0,0,0,0,0,0,0,0,1,0,0
1456,13175,1978,2,0,3,1,0,0,0,0,0,0,1,0,0,0,0,0
1457,9042,1941,2,0,4,1,0,0,0,0,0,0,0,0,0,1,0,0
1458,9717,1950,1,0,2,1,0,0,0,0,0,0,1,0,0,0,0,0
1459,9937,1965,1,1,3,1,0,0,0,0,0,0,1,0,0,0,0,0

In [156]:
# split data into 70 train and 30 test
X_train_70, X_test_30, Y_train_70, Y_test_30 = train_test_split(X,Y, test_size=0.3, random_state=0)

In [157]:
# split data into 80 train and 20 test
X_train_80, X_test_20, Y_train_80, Y_test_20 = train_test_split(X,Y, test_size=0.2, random_state=0)

## statsmodels ##

In [158]:
# Using 80/20 Split

import statsmodels.api as sm
import math

X_train_80_s = sm.add_constant(X_train_80) # required if a value for alpha is expected
est = sm.OLS(Y_train_80,X_train_80_s).fit() # fit model
predictions = est.predict() # get predicted values
print(est.summary())
print("\nAverage error: {:.2f}.".format(math.sqrt(est.mse_resid)))

                             OLS Regression Results
===============================================================================
Dep. Variable:     ADJUSTED_SalesPrice   R-squared:                       0.537
Model:                             OLS   Adj. R-squared:                  0.531
Method:                  Least Squares   F-statistic:                     82.82
Date:                 Tue, 06 Jul 2021   Prob (F-statistic):          5.25e-178
Time:                         07:17:12   Log-Likelihood:                -14499.
No. Observations:                 1159   AIC:                         2.903e+04
Df Residuals:                     1142   BIC:                         2.912e+04
Df Model:                           16
Covariance Type:             nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
const             -1.624e+06   1.38e+05    -11.761      0.000   -1.89e+06   -1.35e+06
LotArea               5.2875      0.480     11.022      0.000       4.346       6.229
YearBuilt          1118.1151     95.363     11.725      0.000     931.008    1305.222
FullBath           6.032e+04   4954.633     12.174      0.000    5.06e+04       7e+04
HalfBath           3.043e+04   5536.081      5.497      0.000    1.96e+04    4.13e+04
BedroomAbvGr      -2672.8736   3126.909     -0.855      0.393   -8808.005    3462.257
BldgType_1Fam      -2.99e+05   2.82e+04    -10.616      0.000   -3.54e+05   -2.44e+05
BldgType_2fmCon    -3.17e+05   2.81e+04    -11.289      0.000   -3.72e+05   -2.62e+05
BldgType_Duplex   -3.603e+05   2.91e+04    -12.361      0.000   -4.17e+05   -3.03e+05
BldgType_Twnhs    -3.389e+05   3.05e+04    -11.113      0.000   -3.99e+05   -2.79e+05
BldgType_TwnhsE   -3.085e+05   3.01e+04    -10.256      0.000   -3.68e+05   -2.49e+05
HouseStyle_1.5Fin -2.056e+05   1.78e+04    -11.537      0.000   -2.41e+05   -1.71e+05
HouseStyle_1.5Unf -1.968e+05   2.56e+04     -7.693      0.000   -2.47e+05   -1.47e+05
HouseStyle_1Story -2.117e+05   2.03e+04    -10.406      0.000   -2.52e+05   -1.72e+05
HouseStyle_2.5Fin  -1.74e+05   2.92e+04     -5.952      0.000   -2.31e+05   -1.17e+05
HouseStyle_2.5Unf -1.781e+05   2.48e+04     -7.178      0.000   -2.27e+05   -1.29e+05
HouseStyle_2Story -2.162e+05   1.91e+04    -11.314      0.000   -2.54e+05   -1.79e+05
HouseStyle_SFoyer  -2.13e+05   2.39e+04     -8.899      0.000    -2.6e+05   -1.66e+05
HouseStyle_SLvl   -2.284e+05   2.17e+04    -10.534      0.000   -2.71e+05   -1.86e+05
==============================================================================
Omnibus:                      548.786   Durbin-Watson:                   1.872
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             5436.100
Skew:                           1.939   Prob(JB):                         0.00
Kurtosis:                      12.876   Cond. No.                     2.52e+20
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.27e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

Average error: 66045.99.

In [159]:
# Using 70/30 Split

import statsmodels.api as sm
import math

X_train_70_s = sm.add_constant(X_train_70) # required if a value for alpha is expected
est = sm.OLS(Y_train_70,X_train_70_s).fit() # fit model
predictions = est.predict() # get predicted values
print(est.summary())
print("\nAverage error: {:.2f}.".format(math.sqrt(est.mse_resid)))

                             OLS Regression Results
===============================================================================
Dep. Variable:     ADJUSTED_SalesPrice   R-squared:                       0.524
Model:                             OLS   Adj. R-squared:                  0.516
Method:                  Least Squares   F-statistic:                     68.56
Date:                 Tue, 06 Jul 2021   Prob (F-statistic):          3.87e-148
Time:                         07:17:12   Log-Likelihood:                -12693.
No. Observations:                 1014   AIC:                         2.542e+04
Df Residuals:                      997   BIC:                         2.550e+04
Df Model:                           16
Covariance Type:             nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
const             -1.582e+06    1.5e+05    -10.559      0.000   -1.88e+06   -1.29e+06
LotArea               5.1584      0.513     10.058      0.000       4.152       6.165
YearBuilt          1090.6767    103.577     10.530      0.000     887.423    1293.930
FullBath           5.907e+04   5448.860     10.841      0.000    4.84e+04    6.98e+04
HalfBath           2.942e+04   5987.453      4.913      0.000    1.77e+04    4.12e+04
BedroomAbvGr      -2367.3534   3398.017     -0.697      0.486   -9035.438    4300.732
BldgType_1Fam     -2.903e+05   3.06e+04     -9.483      0.000    -3.5e+05    -2.3e+05
BldgType_2fmCon   -3.141e+05   3.06e+04    -10.277      0.000   -3.74e+05   -2.54e+05
BldgType_Duplex   -3.494e+05   3.16e+04    -11.044      0.000   -4.11e+05   -2.87e+05
BldgType_Twnhs    -3.307e+05   3.33e+04     -9.937      0.000   -3.96e+05   -2.65e+05
BldgType_TwnhsE   -2.976e+05   3.25e+04     -9.153      0.000   -3.61e+05   -2.34e+05
HouseStyle_1.5Fin -2.008e+05   1.95e+04    -10.279      0.000   -2.39e+05   -1.62e+05
HouseStyle_1.5Unf -1.945e+05   2.75e+04     -7.071      0.000   -2.48e+05   -1.41e+05
HouseStyle_1Story -2.063e+05   2.21e+04     -9.341      0.000    -2.5e+05   -1.63e+05
HouseStyle_2.5Fin -1.684e+05   3.02e+04     -5.577      0.000   -2.28e+05   -1.09e+05
HouseStyle_2.5Unf  -1.73e+05   2.56e+04     -6.765      0.000   -2.23e+05   -1.23e+05
HouseStyle_2Story  -2.09e+05   2.06e+04    -10.160      0.000   -2.49e+05   -1.69e+05
HouseStyle_SFoyer -2.048e+05   2.61e+04     -7.849      0.000   -2.56e+05   -1.54e+05
HouseStyle_SLvl   -2.253e+05   2.34e+04     -9.643      0.000   -2.71e+05   -1.79e+05
==============================================================================
Omnibus:                      502.271   Durbin-Watson:                   1.860
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             5421.288
Skew:                           2.008   Prob(JB):                         0.00
Kurtosis:                      13.592   Cond. No.                     4.26e+20
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 7.1e-31. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

Average error: 66681.95.

# Prediction Part....Stat....need to continue

# Starting Ridge regression with 10 KNN

In [160]:
# Standardize data
#from sklearn.preprocessing import StandardScaler

#std_scaler = StandardScaler()
#X_train_70 = std_scaler.fit_transform(X_train_70)
#X_train_80 = std_scaler.fit_transform(X_train_80)
#X_test_30 = std_scaler.transform(X_test_30) 
#X_test_20 =std_scaler.transform(X_test_20)

In [161]:
# using 70/30 split

from sklearn.linear_model import Ridge
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold


model = Ridge(alpha=1.0)
# define model evaluation method
cv = RepeatedKFold(n_splits=10, n_repeats=3, random_state=1)
# evaluate model
scores = cross_val_score(model, X_train_70, Y_train_70, scoring='neg_mean_absolute_error', cv=cv, n_jobs=-1)
# force scores to be positive
scores = absolute(scores)
print('Mean MAE on 70 percent split: %.3f (%.3f)' % (mean(scores), std(scores)))

Mean MAE on 70 percent split: 46172.194 (4233.413)

In [162]:
# using 80/20 split

from sklearn.linear_model import Ridge
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold


model = Ridge(alpha=1.0)
# define model evaluation method
cv = RepeatedKFold(n_splits=10, n_repeats=3, random_state=1)
# evaluate model
scores = cross_val_score(model, X_train_80, Y_train_80, scoring='neg_mean_absolute_error', cv=cv, n_jobs=-1)
# force scores to be positive
scores = absolute(scores)
print('Mean MAE on 80 percent split: %.3f (%.3f)' % (mean(scores), std(scores)))

Mean MAE on 80 percent split: 45662.698 (4746.063)